<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Answer</title>

        <style>
            table {
              font-family: arial, sans-serif;
              border-collapse: collapse;
              width: 100%;
            }
            
            td, th {
              border: 1px solid #dddddd;
              text-align: left;
              padding: 8px;
            }
            
            tr:nth-child(even) {
              background-color: #dddddd;
            }
            </style>
    </head>

    <body>

        <h2>Results for search '{{name}}'</h2>
        <table>
            <tr>
                <th>id</th>
                <th>Sender</th>
                <th>Receiver</th>
                <th>Amount</th>
                <th>Message</th>
            </tr>
    
            {% for event in events %}
            <tr>
                {% for element in event %}
                    <td>{{element}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
    
            <!-- FIX 4:
            {% for event in events %}
            <tr>
                <td>{{event.amount}}</td>
                <td>{{event.sender}}</td>
                <td>{{event.receiver}}</td>
                <td>{{event.message}}</td> 
            </tr>
            {% endfor %} --> 
        </table><br>

        <a class="btn btn-primary" href="/">Back</a>
    </body>
    
</html>